body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

.intro-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#networkCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.bap-window {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.sound-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
